* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background: url(/final-checkpoint/img/background-finalcheckpoint.png);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 2px solid #f1c40f;
  background-color: #0e0e27;
}

.main-logo {
 width: 150px;
}

nav a {
  color: #ffffff;
  margin-left: 2rem;
  text-decoration: none;
  font-weight: bold;
}

main {
  flex: 1;
  padding: 20px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  color: whitesmoke;
  background-color: #0e0e27da;
}

h1 {
  color: #f1c40f;
  margin-bottom: 1rem;
}

h2 {
  color: #f1c40f;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
}

p {
  font-size: 17px;
}


.main-footer {
  background-color: #08081a;
  text-align: center;
  color: whitesmoke;
  padding: 15px;
  margin-bottom: 10px;
  margin-left: 0;
}